ASPNETCORE_URLS=http://0.0.0.0:8686
VynodeArr__DataRoot=/var/lib/vynodearr
VynodeArr__LifecycleApiKey=replace-with-a-long-random-secret
VynodeArr__Engines__Movie__Enabled=true
VynodeArr__Engines__Movie__ExecutablePath=/opt/vynodearr/engines/movie/Radarr
VynodeArr__Engines__Television__Enabled=true
VynodeArr__Engines__Television__ExecutablePath=/opt/vynodearr/engines/television/Sonarr
DOTNET_RUNNING_IN_CONTAINER=false
